.reviews {
    padding-top: 84px;
    padding-bottom: 84px;
}

.reviews-top-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: #303030;
    margin-bottom: 20px;
    }
    
    .reviews-title {
    font-family: 'Raleway';
    max-width: 418px;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 49px;
    letter-spacing: 0.05em;
    
    color: #303030;
    margin-bottom: 20px;
    }
    .reviews-bottom-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    
    color: #555555;
    margin-bottom: 44px;
    }

.reviews-list {
    display: block;
    gap: 30px;
}

.reviews-item {

}
.reviews-numbers {
font-weight: 700;
font-size: 42px;
line-height: 57px;
text-align: center;
letter-spacing: 0.05em;

color: #303030;
}

.reviews-text {
font-weight: 600;
font-size: 11px;
line-height: 15px;
text-align: center;

color: #303030;

}
